*.summary
*.groups
*.report
carbom.scrap.*
*.qual
*.accnos
carbom.trim.*
qual_pdf/*.*
*.logfile
carbom_18S.*
*.8mer
!*.database
~*
mothur/illumina/n_seq.txt
fastq_filtered/*
R_dada2/n_seq.txt
*.html
*.rdb
*.RData
*.rdx
*.png
R_dada2/R_dada2_tutorial_cache/html/__packages
.Rproj.user
.Rhistory
blast/CARBOM_ASV.fasta
dada2/seqtab.txt
dada2/taxa.txt
dada2/taxa_boot.txt
*.Rproj
*cache
*files
