*.summary
*.groups
*.report
carbom.scrap.*
*.qual
*.accnos
carbom.trim.*
fastq_carbom/qual/*.*
*.logfile
carbom_18S.*
pr2*.*
*.8mer
!*.database
mothur/illumina/~$Mothur tutorial Illumina.pptx
mothur/illumina/n_seq.txt
fastq_carbom/filtered/*
R_dada2/n_seq.txt
